
# Dependencies
node_modules/

# Build files
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json